{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}

<style>
  body {
    background-color: #dbdcdd;
  }

  .container {
    margin-top: 50px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .btn {
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .button-container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .form-block {
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .bg {
    background-size: cover;
    background-position: center center;
  }
</style>

<div class="d-md-flex half">
  <div class="bg" style="background-image: url({% static 'images/bg_1.jpg' %}); height: 1000px;"></div>

  <div class="contents">
    <div class="container" style="width: 1400px; height: 1000px; margin-top: 0px;">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-10">
          <div class="form-block mx-auto" style="margin: 0; max-width: 1000px;">
            <div class="text-center mb-15">
              <h5 class="text-uppercase">Investor Registration</h5>
            </div>
            <form method="POST">
              {% include 'includes/messages.html' %}
              {% csrf_token %}
              {{ investorRegister_form|crispy }}
              <div class="button-container">
                <button class="btn btn-primary" type="submit">Register</button>
                <a class="btn btn-primary" style="color: white;" href="{% url 'investor-login' %}">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
